/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 20, 2018, 2:55:23 PM
    Author     : Ariad
*/
html{
    background: #b9b9b9;
}
body{
    background: white ;
    width: 1100px!important;
    margin: 0 auto!important;
    overflow: visible !important;
    color:#58595b;
    height: 570px;
}

.sinborder tr td, .sinborder tr{
    border: none;
    border-width: 0px!important;
}
.sinborder{
    border :none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal;
}

.ui-widget .ui-widget, .ui-datatable table {
    font-size: 12px;
}